body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;

}
.container-fluid{
    padding: 0px;
}
/**********************************
************ header ***************
**********************************/
header{
    /*background-size:cover;*/

    height: 858px;
    background-image: url(../img/фон_лето.png);
    background-repeat: no-repeat;
    background-position: center center;

}
.nav{
    display: block;
    height: 120px;
    margin: 0 auto;
    padding: 0px;
    width: 1280px;
    /*background-image:url("../img/подложка_при_скролле.png") ;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
}
/*.nav{*/
/*    padding: 0 330px ;*/
/*    margin: 0px;*/
/*}*/
.nav div a img {
    /*width: 109px;*/
    /*height: 71px;*/
    display: block;
    padding-top: 22px;
    margin: 0px;
}
header nav div ul {
    list-style-type: none;
    padding-right: 50px;
    margin: 0;
}
header nav div ul  li{
    display: inline-block;
    margin-right: 30px;
    margin-top: 40px ;
}
header nav ul li a{
    color: #000;
    font-size: 18px;
    text-decoration: none;
    text-align: center;

}
.telefon{
    text-align: center;
}
.telefon a{
    margin: 0;
    padding: 0;
}
.telefon a img{
    margin: 0;
    padding: 0;
}
.telefon h3 {
    margin: 0;
    padding: 0;
}
.telefon h4 {
    margin: 0;
    padding: 0;
}