body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}
.container{
    width: 1280px;
}
.container-fluid{
    padding: 0;
}
/*font-family: 'DM Sans', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
/**********************************
************ header ***************
**********************************/
header{
    /*background-size:cover;*/

    height: 918px;
    background-image: url(../img/фон_лето.png);
    background-repeat: no-repeat;
    background-position: center center;

}
.nav{
    display: block;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    width: 1280px;
    /*background-image:url("../img/подложка_при_скролле.png") ;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
}
/*.nav{*/
/*    padding: 0 330px ;*/
/*    margin: 0px;*/
/*}*/
.nav div a img {
    /*width: 109px;*/
    /*height: 71px;*/
    display: block;
    padding-top: 22px;
    margin: 0;
}
header nav div ul {
    list-style-type: none;
    padding-right: 30px;
    margin: 0 auto;

}
header nav div ul  li{
    display: inline-block;
    margin-right: 30px;
    margin-top: 40px ;
}
header nav ul li a{
    text-decoration: none;
    text-align: center;
    /* Style for "Услуги" */
    width: 779px;
    height: 18px;
    color: #252525;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 19px;
    margin: 0 auto;
}
/**********************************
************ телефон ***************
**********************************/
.phone section{
    display:block;
    padding-top: 30px;
}
.phone section a{
    margin: 0;
    padding: 0;
    text-align: left;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #3588dc;
}
.phone section a img.cirle{
    margin: 7px 10px 10px 10px;
    padding: 0;
    text-align: left;
    width: 13px;
    height: 15px;
    color: #ffffff;
    background-position: center center;
}
.phone section h3 {
    width: 220px;
    margin: 0;
    padding:5px 10px 5px 0;
    text-align: right;
    font-size: 27px;
    color: #111111;
    font-family: 'DM Sans', sans-serif;
}
.phone h4{
    text-align: right;
    margin: 0;
    padding-right:8px;
    height: 17px;
    color: #525252;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 15px;
}
/**********************************************
************ заголовки и кнопка  ***************
***********************************************/
section.headers{
    display: block;
    /*height: 120px;*/
    margin: 0 auto;
    padding: 0;
    width: 1280px;
}
section.headers div.h1{
    color: #111111;
    font-family: 'DM Sans', sans-serif;
    font-size: 2em;
    font-weight: 400;
    /*line-height: 65px;*/
    text-transform: uppercase;
    letter-spacing: 1.12px;
    width: 540px;
    margin: 0.60em 0;
}
section.headers div.h1 h1{
    margin: 0.40em 0;
}
section.headers div.h1 span{
    color: #a27848;
    letter-spacing: 1.12px;
}
section.headers div.h3{
    color: #646566;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.44px;
    width: 540px;
}
div.batton{
    width:270px;
    height: 65px;
    display: block;
    border-radius: 5px;
    background-color: #3185db;
    margin-top: 30px;
}
div.batton div{
    display: block;
    color: #ffffff;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.66px;
    text-transform: uppercase;
    /* Text style for "Наши услуг" */
    letter-spacing: 0.67px;
    margin: 0 auto;
    text-align: center;
}
div.batton a{
    display: block;
    margin:2px 13px;

}
/**********************************************
************ наши услуги  *********************
***********************************************/
div.our_services{
    height:810px;
    width: 1280px;
    margin: 0 auto;
    margin-bottom: -250px;
    position: relative;
    z-index: 2;
}
div.our_services h3{
    color: #111111;
    font-family: 'DM Sans', sans-serif;
    font-size: 39px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    text-align: center;
    margin-top: -50px;

}
/************ Картинки  наши услуги *****/
div.our_services article.services{
    display: grid;
    height: 732px;
    max-width: 1280px;
    margin: 0 0 0 0;
    grid-template-areas: 	"services1 services2 services3"
                            "services1 services4 services5";
}
div.our_services section.services1{
    grid-area: services1;
    height: 732px;
    margin: 0;
    padding: 0;
    background-color: white;
}
div.our_services h2{
    text-align: left;
    width: 250px;
    font-size: 1rem;
    color: #646566;
}
div.our_services section.services2{
    grid-area: services2;
    /*height: 340px;*/
    margin-left:30px ;
    padding: 0;
    background-color: white;
}
div.our_services section.services3{
    grid-area: services3;
    margin-left:30px ;
    padding: 0;
    background-color: white;
}
div.our_services section.services4 {
    grid-area: services4;
    /*height: 340px;*/
    margin-left:30px ;
    padding: 0;
    background-color: white;
}
div.our_services section.services5 {
    grid-area: services5;
    /*height: 340px;*/
    margin-left:30px ;
    padding: 0;
    background-color: white;
}
div.our_services div.service1{
    display: grid;
    height: 515px;
    background-image: url("../img/Слой_2358.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom:50px;
    background-size: cover;

}
div.our_services div.service2{
    display: grid;
    height: 165px;
    background-image: url("../img/Слой_2359.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom:50px;
    background-size: cover;
}
div.our_services div.service3{
    display: grid;
    height: 165px;
    background-image: url("../img/Слой_2361.png") ;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom:50px;
    background-size: cover;

}
div.our_services div.service4{
    display: grid;
    height: 165px;
    background-image: url("../img/Слой_2362.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom:35px;
    background-size: cover;
}div.our_services div.service5{
     display: grid;
     height: 165px;
     background-image: url("../img/Слой_2363.png");
     background-repeat: no-repeat;
     background-position: center center;
     margin-bottom:35px;
     background-size: cover;

 }
div.our_services div.namber{
    display: grid;
    width: 68px;
    height: 58px;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    background-color: #3186dc;
    align-self: end;
    margin:0 0 1px 30px;
    align-items:center;
}
/************ кпопка  наши услуги *****/
div.our_services  div.button{
    display:flex;
    width: 230px;
    height: 50px;
    padding: 0;
    margin: 25px 0 50px 50px;
    background-color: #d6b790;
    border-radius:2px;
    align-items: center;
    justify-content: center;
}
div.our_services  div.button a.textButton{
    text-decoration: none;
    text-shadow: 0 1px 3px #ffffff;
    color: #111111;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
/************ h2 наши услуги *****/
div.our_services h2.ourServicesH2{
    color: #646566;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.42em;
    margin:0 0 0 50px;

}
/**********************************************
************  Приемущества *********************
***********************************************/


/***** блок залоговка с текстом ******/
div.advantages{
    display: block;
    height:1515px;
    background-image: url("../img/layers.png") ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    z-index:1;

}
div.advantages div.text{
    display: grid;
    width:1280px;
    margin: 0 auto;
    padding: 0;
    /*position: absolute; не работает с маржин или то или то*/
    top:300px;
}
/************ Заголовок ***********/
div.advantages div.text h3.pAdvantages{
    width: 400px;
    height: 90px;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    font-family: 'DM Sans', sans-serif;

}
/************ Текст ***********/
div.advantages div.text p.textAdvantages{
    display:block;
    width: 580px;
    height: 360px;
    color: #646566;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.44px;
    line-height: 30px;
}
/************ Блок с катинками ***********/

div.img_advantages div.row{
    padding: 0;
    margin: 0;
    height: 537px;
}
div.advantages div.img_advantages{
    display: grid;
    width:1280px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    top:300px;
}
div.advantages div.img_advantages h3.img_advantages_h3{
    display: inline-block;
    height: 170px;
    width: 1280px;
    padding: 75px 0;
    margin: 0 ;
    color: #111111;
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    text-align: center;
}
/************ Блок №1***********/
div.block1 img.img-block1{
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 30px;

}
div.block1 h2.h2-block1{
    text-transform: uppercase;
    padding-left: 15px;
    font-size: 18px;
}
div.block1 p.p-block1{
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    color: #646566;
    margin-top: 10px;
    padding-left: 15px;
    font-family: "Roboto Condensed",sans-serif;
    font-size:16px;
}
/************ Блок №2***********/
div.block2 img.img-block2{
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 30px;

}
div.block2 h2.h2-block2{
    text-transform: uppercase;
    padding-left: 15px;
    font-size: 18px;
}
div.block2 p.p-block2{
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    color: #646566;
    margin-top: 10px;
    padding-left: 15px;
    font-family: "Roboto Condensed",sans-serif;
}
/************ Блок №3***********/
div.block3 img.img-block3{
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 30px;

}
div.block3 h2.h2-block3{
    text-transform: uppercase;
    padding-left: 15px;
    font-size: 18px;
}
div.block3 p.p-block3{
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    color: #646566;
    margin-top: 10px;
    padding-left: 15px;
    font-family: "Roboto Condensed",sans-serif;
}
/************ Блок №4***********/
div.block4 img.img-block4{
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 30px;

}
div.block4 h2.h2-block4{
    text-transform: uppercase;
    padding-left: 15px;
    font-size: 18px;
}
div.block4 p.p-block4{
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    color: #646566;
    margin-top: 10px;
    padding-left: 15px;
    font-family: "Roboto Condensed",sans-serif;
}
/**********************************************
************ Карусель *********************
***********************************************/

/*!*Обнуление*!*/
/**,*:before,*:after{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    border: 0;*/
/*    box-sizing: border-box;*/
/*}*/
/*!*Стили для демонстрации*!*/
/*html,body{*/
/*    height: 100%;*/
/*    background-color: #333;*/
/*    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
/*    color: #fff;*/
/*    font-size: 25px;*/
/*}*/
.wrapper{
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

@media (max-width:767px){
    .wrapper{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
    min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slick-arrow.slick-prev,
.slick-arrow.slick-next{
    bottom: 30px;
    top:initial;
}
.slider {
    position: relative;
    padding: 0 60px;
}

@media (max-width:767px){
    .slider {
        padding: 0 40px;
    }
}

.slider .slick-arrow{
    position: absolute;
    bottom: 0;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
}
.slider .slick-arrow.slick-prev{
    left:35%;
    background: url('../img/slides/back.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right:35%;
    background: url('../img/slides/next.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
    opacity: 0.2;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: coral;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    /*    border: 1px solid #fff;*/
    /*}*/
}
.slider__item {
    padding: 0 15px;
}
.slider__item img{
    max-width: 100%;
}
.slider__item .slick-center{

}
.slider__item .container-item{
    border: 1px solid lightcoral;
    margin-bottom: 10px;
}
.slider__item .container-item div img{
    width: 350px;
    height: 250px;
    margin: 5px 5px;
    padding: 0;
}
.slider__item .paragraph{
    margin: 20px 0 20px 0;
    text-align: left;
    font-weight: 600;
    line-height: 25px;
    font-family: "Roboto Condensed",sans-serif;
    letter-spacing: 0.14em;
    color: #646566;
    padding: 0 5px;
}
.slider__item .place{
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    color: #646566;
    font-weight: 600;
    padding: 0 5px;
    width:150px;
    height: 42px;
}
.slider__item .price{
    display: inline-block;
    margin-bottom: 10px;
    text-align: right;
    color: #646566;
    font-weight: 600;
    padding: 0 5px;
    width:150px;
    height: 60px;
}
/**********************************************
************ Вопросы  *********************
***********************************************/
.question {
    display: block;
    position: relative;
    height: 820px;
    width: 100%;
    background: url(../img/book.png) no-repeat center;
    background-position-x: 500px;
}
.question .qu_container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1280px;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0 auto;
}
.question .qu_title {
    font-family: 'DM Sans', sans-serif;
    font-size: 45px;
}
.question .qu_desc{
    font-family: "Roboto Condensed",sans-serif;
    font-size: 19px;
    max-width: 604px;
    width: 100%;
    margin-top: 32px;
}